.nav-costum {
	background-color: black;
	height: 100%;
	width:100%
}

.btn-custom {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.second-nav {
	position: absolute;
	left:0;
}

.random-anime-header{
	height:100%;
}

.highlight {
	width:90%;
	background-color: antiquewhite;
	padding: 40px 50px;
}

.highlight-info {
	background-color:aqua;
	width: 50%;
}

.side-highlight {
	width: 80%;
	height: 100%;
	background-image: url('assets/img/back.png');
	display:flex;
	justify-content: center;
}

